<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Placeholder
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [ngClass]="{'active': activeItem === 'questions'}" href="/questions">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activeItem === 'users'}" href="/users">
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>